<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Tech LoL Photo Gallery</h1>
    <p>Enjoy Photos that have been submitted by our members</p>
  </div>
</div>

<div class="container">
  <div id="main_area">
    <!-- Slider -->
    <div class="row">
      <div class="col-sm-12" id="slider">
        <!-- Top part of the slider -->
        <div class="row">
          <div class="col-sm-2" id="empty"></div>
          <div class="col-sm-8" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                  <div class="active item" data-slide-number="0">
                    <%= image_tag "tech_lol_banner.jpg" %></div>

                <% @images.each_with_index do |image, index| %>
                  <div class="item" data-slide-number="<%= index + 1 %>">
                    <%= image_tag "photo_gallery/#{image.split('/').last}" %>
                  </div>
                <% end %>
              </div><!-- Carousel nav -->
              <a class="carousel-control left" data-slide="prev" href="#myCarousel">‹</a> <a class="carousel-control right" data-slide="next" href="#myCarousel">›</a>
            </div>
          </div>
        </div>
      </div><!--/Slider-->

    <div class="row hidden-phone" id="slider-thumbs">
      <div class="col-sm-12">
          <!-- Bottom switcher of slider -->
          <ul class="thumbnails clearfix">
              <li class="col-sm-2">
                <a class="thumbnail" id="carousel-selector-0">
                  <%= image_tag "tech_lol_banner.jpg" %>
                </a>
              </li>
            <% @images.each_with_index do |image, index| %>
              <li class="col-sm-2">
                <a class="thumbnail" id="carousel-selector-<%= index + 1 %>">
                  <%= image_tag "photo_gallery/#{image.split('/').last}" %>
                </a>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
